@import "https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css";

/* Custom CSS */
html {
    scroll-behavior: smooth;
}
.border {
    border:var(--bulma-primary) solid;
    border-radius:1rem;
}
@media(max-width:431px) {
    .image .is-540x540 {
        max-height:240px;
        width:auto;
    }
}
@media(min-width:767px) {
    .image .is-540x540 {
        max-height:580px;
        width:auto;
    }
}
.icono-habilidad {
    height: 150px;
}
@media (min-width: 768px) {
    .icono-habilidad {
        max-height: 70px;
    }
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; /* Todas las tarjetas llenarán el espacio asignado */
    min-height: 400px; /* Ajusta según el diseño */
}

/* Barra de desplazamiento */
body::-webkit-scrollbar {
    width: 8px;               
}
body::-webkit-scrollbar-thumb {
    background-color: var(--bulma-primary-100);    
    border-radius: 20px;       
}

/* CSS barra de escritura */
@media (max-width: 430px) {
    .typing-text {
        display: block;
    }
    .static-text {
        display: block;
    }
    .dynamic-text {
        display: block;
    }
}
@media (min-width: 431px) {
    .typing-text {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }
}
.dynamic-text {
    border-right: 2px solid white; /* Cursor parpadeante */
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    animation: blink 0.7s steps(2, start) infinite;
}

/* Animación del cursor */
@keyframes blink {
    from {
        border-right-color: white;
    }
    to {
        border-right-color: transparent;
    }
}

/* Spiner CSS */
.spinner {
    width: 40px;
    height: 40px;
    position: relative;
    margin: 100px auto;
}

.double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--bulma-primary);
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
    0%, 100% { 
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    } 50% { 
        transform: scale(1.0);
        webkit-transform: scale(1.0);
    }
}